<<<<<<< HEAD
#footer_ambiya{
    padding: 10px;
    text-align: center;
    color: rgb(161, 202, 255);
    background-color: rgb(208, 244, 255);
}
=======
padding=10px, text=center, color & background=s
>>>>>>> ambiya_profile
