#footer_alvin {
  padding: 10px;
  text-align: center;
  color: aqua;
  background-color: black;
}

#footer_rizkiputra{
    padding: 10px;
    text-align: center;
    color: #191970;
    background-color: #191970;
}
